@font-face {
    font-family: boldfont;
    src: url(../fonts/theboldfont.ttf) format('truetype');
}

@font-face {
    font-family: keepcalm;
    src: url(../fonts/keepcalm.ttf) format('truetype');
}

body{
    margin: 0;
    padding: 0;
}

#wrapper{
    
    height: auto;
    width: 1024px;
    margin: 0 auto;
    text-align: left;
    
}

#header{
    
    line-height: 14px;
    margin-top: 8%;
    margin-bottom: 8%;
    
    font-family: keepcalm;
    font-size: 16px;
    color: #AFA8A2;
    font-weight: 100;
}

#intro{
    font-size: 80px;
    color: #333333;
}

#intro span{
    font-family: boldfont;
    color: #D66360;
}

#intro_s{
    font-size: 42px;
    color: #333333;
}




#nav{
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

#nav ul{
    list-style-type: none;
    height: 100%;
}

#nav ul li{
    display: inline;
    margin: 0 35px;
}

#nav ul li a{
    font-family:  keepcalm;
    font-size: 28px;
    text-decoration: none;
    color: #333333;
}

#nav ul li a:hover{
    color: #D66360;
    transition: .2s;
}