@font-face {
    font-family: boldfont;
    src: url(../fonts/theboldfont.ttf) format('truetype');
}

@font-face {
    font-family: keepcalm;
    src: url(../fonts/keepcalm.ttf) format('truetype');
}

@font-face {
    font-family: Brandon-Reg;
    src: url(../fonts/Brandon_reg.otf) format('opentype');
}

@font-face {
    font-family: Montserrat-Reg;
    src: url(../fonts/Montserrat-Regular.otf) format('opentype');   
}

@font-face {
  font-family: 'typicons';
  src: url("../fonts/typicons.eot");
  src: url("../fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("../fonts/typicons.woff") format('woff'),
       url("../fonts/typicons.ttf") format('truetype'),
       url("../fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

.bigger{
    font-size: 10em;
    color: #999999;
}

.bigger:hover{
    color: #222222;
    transition: .5s;
}

.bigger2{
    font-size: 10em;
    color: #222222;
}

.bigger2:hover{
    color: #999999;
    transition: .5s;
}

body{
    margin: 0;
    padding: 0 0 0 0;
    background-color: white; /* For off Yellow: #F2F1ED */
    font-family: Montserrat-Reg;
}

#t1{
    color: #222222;
    
    font-family: Montserrat-Reg;
    font-weight: 400;
    text-align: left;
    line-height: 1.0;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    
    margin: 200px 0 30px 0;
}

#t2, #t3, #t4, #t5{
    color: #222222;
    
    font-family: Montserrat-Reg;
    font-weight: 400;
    text-align: left;
    line-height: 1.0;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    
    margin: 200px 0 150px 0;
    
}

.underscore{
    font-family: keepcalm;
    font-size: 1em;
    color: #999999;
    font-weight: 100;
}

.title_white{
    font-family: boldfont;
    color: #F9F9F9;
    font-size: 52px;
}

.divider{
    font-family: keepcalm;
    color: #F9F9F9;
    text-align: center;
    font-size: 42px;
    
    background-color: #D66360;
    
    width: 100%;
    height: 125px;
    line-height: 125px;
}

.divider_white{
    
    color: #667080;
    text-align: center;
    
    background-color: white;
    
    width: 100%;
    
    min-height: 100vh;
    height: auto;
}

.divider_grey{
    color: #F9F9F9;
    text-align: center;
    
    background-color: #F1F1F1;
    
    width: 100%;
    
    min-height: 100vh;
    height: auto;
    
}


#wrapper{
    
    display: table;
    text-align: center;
    
    height: 760px;
    width: 100%;
    top: 0px;
    
    
    background-color: #F1F1F1;
    background-image: url(../img/Pens3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

#header{
    
    display: table-cell;
    vertical-align: middle;
    
    width: 75%;
    
    margin: 0 auto;
    
    font-family: keepcalm;
    font-size: 1em;
    color: #999999;
    font-weight: 100;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
    -webkit-animation-delay: .3s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#intro{
    font-size: 1em;
    letter-spacing: 3px;
    color: #A9A9A9;
    
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
}

#intro span{
    font-size: 5em;
    letter-spacing: 3px;
    font-family: Montserrat-Reg;
    color: #222222;
    font-weight: 400;
    
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
}

#intro_s{
    font-size: 1em;
    letter-spacing: 3px;
    color: #CACACA;
    
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
}



#sticky-nav{
    width: auto;
    height: 0px;
    clear: both;
    
    background-color: #F5F5F5;
}

#nav{
    
    background-color: #F1F1F1;
    
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    
    min-height: 102px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

#nav.stick {
    position: fixed;
    top: 0;
    
    /*left: 50%;
    margin-left: -512px;*/
    
    margin: auto;
    
    border-top: 0px solid #222222;
    border-bottom: 0px solid #222222;
    
    background:rgba(255,255,255, 0.9);

    transition: .3s;
    
    z-index: 10000;
}

#nav ul{
    list-style-type: none;
    
    width: 100%;
    margin: 0px auto;
    
    padding-top: 45px;
}

#nav ul li{
    display: inline;
    margin: 0px 60px;
}

#nav ul li a{
    font-family:  Montserrat-Reg;
    font-size: 0.9375em;
    text-decoration: none;
    color: #999999;
}

#nav ul li a:hover{
    color: #222222;
    transition: .5s;
}




#content_wrapper{
    height: auto;
    width: 100%;
    margin: 25px auto;
}




.inline{
    display: inline-block;
    
    min-height: 303px;
    height: auto;
    width: 273px;
    
    margin: 25px 45px;
    

}

.s_title{
    font-family: Montserrat-Reg;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.4;
    color: #222222;
    
    text-align: center;
    text-transform: uppercase;
    

}

.s_info{
    font-family: sans-serif;
    font-size: .875em;
    line-height: 1.4;
    font-weight: 400;
    color: #999999;
    
    text-align: center;
    
}

#demo-content{
    text-align: center;
    font-family: keepcalm;
    color: #667080;
    
    width: 100%;
    
    
}

#resume_container{
    width: 100%;
    height: auto;
    
    margin: 100px auto 100px auto;
}

.row{
    width: 850px;
    min-height: 250px;
    height: auto;
    
    margin: 0 auto;
    
    text-align: center;
}

.outside1{
    display: inline;
    float: left;
    
    width: 25%;
    height: 45px;
    
    line-height: 45px;
    
    color: #222222;
    font-family: Montserrat-Reg;
    font-size: 1.5em;
    line-height: 1.4;
    
    text-transform: uppercase;
}

.outside2{
    display: inline;
    float: right;
    
    width: 25%;
    height: 62px;
    
    line-height: 62px;
    
    color: #999999;
    font-family: Montserrat-Reg;
    font-size: 1em;
    text-align: center;
}

.inside{
    margin: 0 25% 0 25%;
    
    width: 50%;
    height: auto;
}

.inside1{
    color: #222222;
    font-family: Montserrat-Reg;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    text-transform: uppercase;
    
    margin-top: 5px;
}

.inside2{
    color: #999999;
    font-family: Montserrat-Reg;
    font-size: 1.1em;
    text-align: left;
    line-height: 1.4;
    font-weight: 400;
    
    margin-top: -40px;
}

.inside3{
    color: #CACACA;
    font-family: sans-serif;
    font-size: .875em;
    text-align: left;
    line-height: 1.1;
    margin-top: -25px;
}

.row a{
    color: #222222;
    text-decoration: none;
}

.row a:hover{
    text-decoration: underline;
}

.row li{
    color: #999999;
    font-family: sans-serif;
    font-size: .875em;
    text-align: left;
    line-height: 1.6;
}

#resume_div{
    width: 850px;
    height: 1px;
    
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 0px;
    margin-bottom: 80px;
    
    border-bottom: 1px solid #999999;
}

.resume{
    height: 300px;
    width: 500px;
    
    position: relative;
    
    display: inline-block;
    
    border-radius: 6px;
}

#docx {
    display: inline-block;
    
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #222222;
    
    padding-top: 9px;
    
    margin-left: 25px;
}

#docx:hover{
    display: inline-block;
    
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #2b5796;
    background-color: #2b5796;
    color: #F9F9F9;
    
    transition: 1s;
    
    padding-top: 9px;
}

#docx a{
    font-family: Montserrat-Reg;
    text-decoration: none;
    color: #222222;
    font-size: 0.875em;
    text-transform: uppercase;
}

#docx a:hover{
    color: #F9F9F9;
    transition: 1s;
}

#pdf {
    display: inline-block;
    
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #222222;
    
    padding-top: 9px;
    
    margin-right: 25px;
}

#pdf:hover{
    
    
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #e20b0b;
    background-color: #e20b0b;
    color: #F9F9F9;
    
    transition: 1s;
    
    padding-top: 9px;
}

#pdf a{
    font-family: Montserrat-Reg;
    text-decoration: none;
    color: #222222;
    font-size: 0.875em;
    text-transform: uppercase;
}

#pdf a:hover{
    color: #F9F9F9;
    transition: 1s;
}

#about_container{
    margin: 80px 0;
    
    height: auto;
    width 100%;
    
    text-align: center;
}

#form_wrap{
    height: auto;
    width: auto;
    margin: 0 auto;
}

button, input, select{
    font-family: Montserrat-Reg;
    font-size: 100%;
    
    outline: none;
}

input:focus{
    border: 2px solid #222222;
    transition: .1s;
}

/* input:required{
    border: 2px solid #D66360;   
} */

::-webkit-input-placeholder {
   padding-left: 0px;
}

.n_e{
    width: 365px;
    height: 54px;
    
    font-family: Montserrat-Reg;
    font-size: 100%;
    
    margin: 5px;
    
    -webkit-box-sizing: border-box;
    
    padding-left: 20px;
    
}

#message{
    width: 748px;
    height: 200px;
    
    outline: none;
    font-family: Montserrat-Reg;
    font-size: 100%;
    
    -webkit-box-sizing: border-box;
    
    padding-left: 20px;
    padding-top: 20px;
}

#message:focus{
    border: 2px solid #222222;
    transition: .3s;
}

/* #message:required{
    border: 2px solid #D66360;
} */

#message::-webkit-input-placeholder{
    padding-left: 0px;
    padding-top: 0px;
}

#warning{
    font-family:  Montserrat-Reg;
    font-size: 2em;
    font-weight: 400;
    
    text-align: center;
    color: #222222;
}

#submit{
    height: 54px;
    width: 750px;
    
    cursor: pointer;
    
    background-color: white;
    color: #667080;
    border: 3px solid #222222;
}

#submit:hover{
    color: white;
    background-color: #222222;
    transition: .3s ease;
}

footer{
    color: #999999;
    background-color: #F1F1F1;
    
    height: 44px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    padding-top: 30px;
    
    bottom: 0;
}

.box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-image: url(../img/Portrait2.jpg);
    background-size: cover;
    
    filter: url(../img/Portrait2.jpg);
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    
    filter: url(../img/Portrait2.jpg);
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.box:hover {
     filter: url(../img/Portrait2.jpg);
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    
}

.clipCircle {
  -webkit-clip-path: circle(50% at 50% 50%);
}

.parallax-window {
    min-height: 300px;
    background: transparent;
    margin: 0;
}